<div class="container mt-4">

<h2 class="mb-3">Customer Form</h2>

<input class="form-control mb-2" [(ngModel)]="customer.firstName" placeholder="First Name">
<input class="form-control mb-2" [(ngModel)]="customer.lastName" placeholder="Last Name">
<input class="form-control mb-2" [(ngModel)]="customer.email" placeholder="Email">
<input class="form-control mb-2" [(ngModel)]="customer.phone" placeholder="Phone">
<input class="form-control mb-2" [(ngModel)]="customer.address" placeholder="Address">

<button class="btn btn-primary me-2" *ngIf="customer.id===0" (click)="addCustomer()">Add</button>
<button class="btn btn-success me-2" *ngIf="customer.id!==0" (click)="updateCustomer()">Update</button>
<button class="btn btn-secondary" (click)="clearForm()">Clear</button>

<hr>

<table class="table table-bordered table-striped mt-3">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Action</th>
</tr>
</thead>

<tbody>
<tr *ngFor="let c of customers">
<td>{{c.id}}</td>
<td>{{c.firstName}} {{c.lastName}}</td>
<td>{{c.email}}</td>
<td>{{c.phone}}</td>

<td>
<button class="btn btn-warning btn-sm me-2" (click)="editCustomer(c)">Edit</button>
<button class="btn btn-danger btn-sm" (click)="deleteCustomer(c.id)">Delete</button>
</td>
</tr>
</tbody>
</table>

</div>